* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background: #C7F9CC;
	letter-spacing: 1px;
}

.wrapper {
	max-width: 50vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

h1 {
	font-size: 65px;
}

.wrapper > h2 {
	font-size: 45px;
	margin: 20px 0;
}

article {
	color: white;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.slideRules {
	background: #57CC99;
	font-size: 30px;
	padding: 10px 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.slideRules:hover {
	cursor: pointer;
}

#rules {
	padding: 20px;
	font-size: 25px;
	background: #80ED99;
	color: black;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.taskProgress {
	position: fixed;
	top: 65vh;
	left: 1vw;
	padding: 2.5vh;
}

.taskProgress p {
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
}

.timeProgress {
	position: fixed;
	top: 1vh;
	left: 1vw;
	padding: 2.5vh;
}

.timeProgress p {
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
}

canvas {
	width: 20vw;
	/*max-width: 20vw;*/
}

#win {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}

#win a {
	padding: 1rem 2rem;
	font-size: 40px;
	background: #57CC99;
	color: white;
	border-radius: 12px;
	text-decoration: none;
	margin-top: 2rem;
}

#start {
	width: 250px;
	height: 10vh;
	font-size: 40px;
	background: #57CC99;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	margin-bottom: 50px;
}

#start:hover {
	cursor: pointer;
}

.gameBoard {
	width: 100%;
	gap: 5px;
	display: none;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 100px);
}

.card {
	background-color: #ffffff;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	transition: all 0.5s;
	transform-style: preserve-3d;
}

.front {
	background-color: #22577A;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ffffff;
	font-weight: bold;
}

.back {
	backface-visibility: hidden;
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.card img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	max-height: 100%;
}

.flip {
	transform: rotateY(180deg);
}


@media all and (max-width: 1300px) {
	.taskProgress, .timeProgress {
		width: 200px;
	}
}

@media all and (max-width: 1000px) {
	
}